<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target name="console" xsi:type="ColoredConsole"
            layout="${time} ${level:uppercase=true:padding=-5} ${logger:shortName=true} - ${message}${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="System.*" maxlevel="Info" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
